---
layout: base.njk
title: Home
---
<div class="max-w-3xl mx-auto px-6 py-12 lg:py-32 flex-1 flex flex-col justify-center">
  <div class="text-center">
    {# Decorative flourish #}
    <div class="flourish mb-8"></div>

    {# Dramatic title #}
    <h1 class="mb-8" style="font-size: var(--font-size-display); line-height: 1.1;">
      {{ site.title }}
    </h1>

    {# Elegant divider #}
    <div class="divider max-w-xs mx-auto"></div>

    {# Description #}
    <p class="text-xl lg:text-2xl mt-8 mb-12" style="color: var(--color-ink-light); line-height: 1.7;">
      {{ site.description }}
    </p>

    {# Call to action #}
    <a href="/intro/" class="btn-primary inline-block">
      Begin Reading
    </a>

    {# Bottom flourish #}
    <div class="flourish mt-16"></div>
  </div>
</div>
